<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OurCompanyProducts</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>
</head>
<body>
    <div class="container-fluid"> 
        <div class="col-md-6">
            <h2>Categories</h2>
        </div>
        <div class="col-md-6"></div>
    </div>
</body>
</html>
